.view{
	background: red;
}

body{
	background: #353535;
}

.container{
	display: block;
	max-width: 1440px;
	margin: 0px auto;
}

.mainDisplay{
	margin: 200px 0px 20px 0px;
	background: rgba(255,255,255,0.1);
	padding: 20px;
}

.option{
	padding: 20px 30px;
	margin: 20px auto;
	max-width: 1080px;
	color: #888;
}



.preText,.char,.answerChar{
	display: inline-block;
	margin: 5px -2px;
	font-size: 1.7rem;
	font-weight: bold;
	font-family:Source Code Pro;
}

.char{
	color: #ffffff;
}

.answerChar{
	color: #dddddd;
}

.wrong{
	color: #ff5050 !important;
}

.char.mistaken{
	color: #bbbbbb;
}

.answerChar.mistaken{
	color: #aaaaaa;
	text-decoration:underline;
}

.space{
	padding: 0px 3.586px;
}

.space.char{
	color: #666;
}
.space.answerChar{
	color: #686868;
}

.space.mistaken.answerChar{
	color: #555;
}



.panel{
	padding: 5px;
	background: rgba(0,0,0,0.1);
}

.panel div{
	display: inline-block;
	font-size: 1.5rem;
	color: #ffffff;
	padding: 0px 5px;
	margin: 4px 2px;
}

.panel div div{
	padding: 0px 0px;
	margin: 0px 0px;
}

#accuracy{
	background: rgba(20,233,255,0.5);
}

#ac{
	color: #215156;
}

#ac11,#ac21{
	font-size: 2rem;
}

#panelSP{
	font-size: 2.5rem;
	margin: -10px 3px -10px 0px;
}

#speed{
	background: rgba(255,200,20,0.5);
}

#sp{
	color: #614b19;
}

#sp01,#sp02{
	font-size: 2rem;
}

#spUnit{
	font-size: 1.1rem;
	margin:20px 0px 0px 3px;
}

#ac2,#spUnit{
	float:right;
}





#content,#part{
	font-size: 1.1rem;
	padding: 0px;
}

.contentClass{
	margin: 2px 15px;
}

.contentTitle,.contentDetail{
	display: inline-block;
	background: transparent;
	color: #888;
	outline: none !important;
}

.contentTitle{
	margin: 0px 2px;
	border: none;
}

.contentDetail{
	padding: 1px 2px;
	margin: 0px 2px;
	border: 1.5px solid;
	border-color: transparent;
}

.contentClass.chosen{
	color:#bbb;
}

.contentClass.chosen button{
	color:#bbb;
}

.contentTitle.chosen{
	font-weight: bold;
	text-decoration:underline;
}

.contentDetail.chosen{
	border-color: #bbb;
}


.option.inactive, .option.inactive div,.option.inactive div div, .option.inactive div div button{
	color: #444 !important;
}

.option.inactive div div button.chosen{
	border-color: #444;
}
